<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarMedicos(input.value)" type="text" class="form-control" placeholder="Buscar usuario">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-body">

                    <div class="text-right">
                        <button [routerLink]="['/medico','nuevo']" class="btn-rounded btn-primary"><i class="mdi mdi-plus"></i> Crear Medico</button>
                    </div>

                    <h3 class="card-title">Medicos Registrados <span class="badge badge-danger">{{ medicoService.totalMedicos }}</span></h3>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Médico</th>
                                <th>Hospital</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr *ngFor="let medico of medicos">
                                <td>
                                    <img [src]="medico.img | imagen:'medico'" alt="" class="w50 pointer">
                                </td>
                                <td>
                                    {{medico.nombre}}
                                </td>
                                <td>
                                    {{medico.hospital.nombre}}
                                </td>
                                <td>
                                    <button [routerLink]="['/medico',medico._id]" class=" btn btn-primary mr-2 ">
                                        <i class="fa fa-save "></i>
                                    </button>
                                    <button (click)="borrarMedico(medico) " class="btn btn-danger ">
                                        <i class="fa fa-trash-o "></i>
                                    </button>

                                </td>
                            </tr>


                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>